$ok:#a9d86e;
$safe:#fcb322;
$bad:#ff6c60;
$pColor:#1fb5ad;
/*     <!--Core CSS -->
    <link href="bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/bootstrap-switch.css" />
    <!--clock css-->
    <link href="js/css3clock/css/style.css" rel="stylesheet">
    <!--jQuery Vdo and Audio Player-->
    <link rel="stylesheet" type="text/css" href="js/jplayer/skin/blue.monday/jplayer.blue.monday.css"/>

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" /> */



.clearfix:after {

    content: ".";

    display: block;

    clear: both;

    visibility: hidden;

    line-height: 0;

    height: 0;

}

#fanseelayout .btn {
    transition: 'background-color' 0.3s ease-in-out;
}

.clearfix {

    display: inline-block;

}

@import "style.scss";
@import "style-responsive.scss";
body,html{
    margin-top:0px !important;
    overflow: hidden;
}
* {
    font-family: 'Verdana','微軟正黑體','儷黑 Pro','Arial','Helvetica','sans-serif','STHeiti Light','LiHei Pro','Microsoft Yahei','Microsoft JhengHei','新細明體';
}

html, body {height: 100%;}

#fanSeeLayout {
    #warp {min-height: 100%;}
    .main-content {
        padding-top: 100px;
    }
    #areaID_nav {
        z-index: 99;
        height: 70px;
        background: $pColor;
        width: 100%;
        position: absolute;
        left: 0;
        top:0;
        .logo {
            margin-left: 20px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            height: 50px;
            width: 150px;
            background: url(../images/logo_white.png) no-repeat 0 0;
            background-size: 150px auto;

        }

    }
    #areaID_fanList {
    }
    #areaID_hero {
        height: 100%;
        .coverItem{
            height: 100%;
        }
        > .row {
            height: 100%;
        }
    }
}


.spinner {
  width:30px;
  height:30px;
  margin:50% auto;
}

.cube {
  width:33%;
  height:33%;
  background:#fff;
  float:left;
  animation: scaleDelay 1.3s infinite ease-in-out;
}

/* 
 * Spinner positions
 * 1 2 3 
 * 4 5 6
 * 7 8 9
 */

.spinner .cube:nth-child(1) { animation-delay: 0.2s; animation-delay: 0.2s  }
.spinner .cube:nth-child(2) { animation-delay: 0.3s; animation-delay: 0.3s  }
.spinner .cube:nth-child(3) { animation-delay: 0.4s; animation-delay: 0.4s  }
.spinner .cube:nth-child(4) { animation-delay: 0.1s; animation-delay: 0.1s  }
.spinner .cube:nth-child(5) { animation-delay: 0.2s; animation-delay: 0.2s  }
.spinner .cube:nth-child(6) { animation-delay: 0.3s; animation-delay: 0.3s  }
.spinner .cube:nth-child(7) { animation-delay: 0.0s; animation-delay: 0.0s  }
.spinner .cube:nth-child(8) { animation-delay: 0.1s; animation-delay: 0.1s  }
.spinner .cube:nth-child(9) { animation-delay: 0.2s; animation-delay: 0.2s  }

    
@keyframes scaleDelay {
  0%, 70%, 100% { transform:scale3D(1.0, 1.0, 1.0) }
  35%           { transform:scale3D(0.0, 0.0, 1.0) }
}
    
@keyframes scaleDelay {
  0%, 70%, 100% { transform:scale3D(1.0, 1.0, 1.0); }
  35%           { transform:scale3D(1.0, 1.0, 1.0); }
}

@keyframes circleAnimate {
  0% { transform: rotate(0); }
  25% { transform: rotate(-80deg); }
  100% { transform: rotate(0deg);}
}

//wave loading
.waveLoad {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.waveLoad > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.waveLoad .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.waveLoad .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.waveLoad .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.waveLoad .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#cifAppPlugin {
    position: absolute;
    right: 0px;
    top:0px;
    width: 0px;
    z-index: 9999;
}

#pluginWidget {
    transition: all .5s ease-in-out;
    position: relative;
    width: 420px !important;
    height: 100%;
    background: transparent;
    &.closeStatus {
        .panelLogoBtn {
            transition: all .5s ease-in-out;
            border-radius: 10px 0 0 10px;
            height: 100%;
            cursor: pointer;
            position: absolute;
            right: 0px;
            top:0px;
            width: 80px;
            height: 100px;
            background: url(../images/logo_squre.png) no-repeat center center #fa8564;
            background-size: 50px  auto;
            &:hover {
                background-color: $pColor;
            }
        }        
    }
    .panelLogoBtn {
        z-index: 1;
        transition: all .5s ease-in-out;
        cursor: pointer;
        position: absolute;
        top:0px;
        right: 210px;
        width: 200px;
        height: 49px;
        background: url(../images/logo_gray.png) no-repeat 20px center #fff;
        background-size: 100px auto;
    }
    .barList {
        padding:20px 0 40px 0;
    }
    .loadingBanr {
        background: #1fb5ad;
        position: absolute;
        width: 100%;
        top:50px;
        z-index: 1;
        min-height: 520px;
        overflow: hidden;
    }
    .content {
        &.activeSence {
            .ten {
                animation: circleAnimate 0.5s  ease-in-out;
            }  
        }
    }
    .panel-heading {
        background: #fff;
    }
    .user-heading { border-radius: 0px; min-height: 500px;}
    .canvasWarp {
        position: relative;
        min-height: 430px;
        .light {
            font-family: 'Comfortaa', cursive;
            position: absolute;
            font-size: 13px;
            width: 100px;
            height: 100px;
            bottom:-20px;
            right: 0;
            line-height: 4em;
            vertical-align: bottom;
            &.ok .ten{
                background: $ok;
            }
            &.safe .ten{
                background: $safe;
            }
            &.bad .ten{
                background: $bad;
            }
            .ten {
                font-family: 'Comfortaa';
                vertical-align: middle;
                font-size: 4.5em;
                border-radius: 50%;
                width: 1.2em;
                height: 1.2em;
                font-weight:normal;
                display: inline-block;
                text-align: center;
                transition:all;

            }
            .float {
                font-family: 'Comfortaa', cursive;
                margin-top: 5px;
                font-size: 1.2em;
                letter-spacing: 0.5em;
                font-weight:normal;
                display: inline-block;
                vertical-align: text-top;
            }
        }
    }
    .chartInfo {
        position: absolute;
        bottom:0px;
        left: -20px;
        li {
            list-style: none;
            border-bottom: 0px;
            vertical-align: middle;
        }
        .block {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right:10px; 
        }
        .default {
            .block {
                background:rgba(220,220,220,1);
            }   
        }
        .fanPage {
            .block {
                background:rgba(250,133,100,1.0);
            }   
        }
    }
    .photo {
        position: relative;
    }
    .ratingDetialList {
        li.current {
            .lev1 {
                background: #344860!important;
                color: #fff;
            }    
        }
        .lev2 {
            li a {
                background:5px 15px;
                text-indent: 1em;
                .badge {
                    text-indent: 0px;
                }
            }
        }
    }
    .barfield {
        max-width: 360px;
        position: relative;
        margin: 0 auto;
        h3 {
            font-size: 16px;
        }
        .barChart {
            width: 360px;
            position: relative;
            cursor: pointer; 
            .barSence {
                padding: 0px;
                position: relative;
                fill:#000;
            }
            .warp {
                fill:#f1f2f7;
                // fill:#000;
            }
            .barObj {
                fill:#a9d86e;
            }
            .avg {
                display: block;
                background: url(../images/bg_avrge.png) no-repeat center -2px;
                width: 11px;
                height: 44px;
                z-index: 99;
                left: 0;
                top:0;
                position: absolute;
            }
        }
        .badge {
            display: inline-block;
            float: right;
            padding:0 5px;
            border-radius:6px;
            color: #fff;
            position: absolute;
            right: 0px;
            top:0px;
            font-size: 14px;
            font-weight: 600;
        }
        &.ok {
            .barObj {
                fill:$ok;
            }
            .badge {
                background: $ok;
            }
        }
        &.safe {
            .barObj {
                fill:$safe;
            }
            .badge {
                background: $safe;
            }
        }
        &.bad {
            .barObj {
                fill:$bad;
            }
            .badge {
                background: $bad;
            }
        }
    }

}


.tooltipster-default.customtip {
    border: 0px;
    background: #344860;
    border-radius: 10px;  
    .chartInfo.tipinfo {
        bottom:0px;
        padding: 0px;
        max-width: 150px;
        li {
            list-style: none;
            border-bottom: 0px;
        }
        .block {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right:10px; 
        }
        .range {
            .block {
                background:#d6d6d6;
            }   
        }
        .barSquare {
            .block {
                //background:rgba(250,133,100,1.0);
            }  
        }
        .number {
            margin: 0 5px;
        }
        .avg .block {
            background: #fa8564;
        }
        .order {
            font-family: 'Verdana','微軟正黑體','儷黑 Pro','Arial','Helvetica','sans-serif','STHeiti Light','LiHei Pro','Microsoft Yahei','Microsoft JhengHei','新細明體'!important;
            margin-top: 10px;
        }
        .order .number {
            margin: 0px 0 0 5px;

        }
    }
    &.ok .barSquare .block{
        background: $ok;
    }
    &.safe .barSquare .block{
        background: $safe;
    }
    &.bad .barSquare .block{
        background: $bad;
    }
}

#areaID_fanList {
    padding: 30px;
    height: 100%;
    > .row {
        // min-height: 2000px;
    }
    .getMoreLoadingBar  {
        width: 100%;
        height: 40px;
        .waveLoad {
            margin: 20px auto;
        }
        .waveLoad > div{
            background: #767676;
        }
        p {
            text-align: center;
            font-size: 1.2em;
            padding-bottom: 20px;
        }   
    }
    .fanItem {
        position: relative;
        background: #fff;
        cursor: pointer;
        h4 {
            color: #313131;   
        }
        &:hover .arrowBlock{
            transform: scale(1.2)!important ;
        }
        .waveLoad {
            position: absolute;
            margin: auto;
            height: 20px;
            text-align: center;
            font-size: 10px;
            top:10px;
            right: 10px;
            > div {
                background: #d3d3d3;
            }
        }
        .panelwarp {
            padding: 20px;
        }
        .imgBlock {
            // width: 100%!important;
            img {
                // width: 100%!important;
            }
        }
        .arrowBlock {
            transform: scale(0.1) ;
            transform-origin:100% 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius:0 0 5px 0;
            overflow: hidden;
            width: 130px;
            height: 130px;
            cursor: pointer;
            .arrowGray {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 130px 130px;
                border-color: transparent transparent #f1f2f7 transparent;
            }
            .arrowMark {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 120px 120px;
                border-color: transparent transparent $ok transparent;                
            }
            .number {
                color: #fff;
                position: absolute;
                right: 5px;
                bottom: 0px;
                .ten {
                    font-family: 'Comfortaa';
                    vertical-align: middle;
                    font-size: 4em;
                    border-radius: 50%;
                    height: 1em;
                    font-weight:normal;
                    display: inline-block;
                    text-align: center;
                    transition:all;
                    &.active {
                        animation: circleAnimate 0.5s  ease-in-out;
                    }

                }
                .float {
                    font-family: 'Comfortaa', cursive;
                    margin-top: 22px;
                    font-size: 1.2em;
                    letter-spacing: 0.5em;
                    font-weight:normal;
                    display: inline-block;
                    vertical-align: text-top;
                }
            }
        }
        .photoWrap {
            position: relative;
            a img{
                width: 150px;
                height:150px;
            }
        }
        .name {
            color: #222;
        }
        .loadingBar {
            height: 3px;
            width: 0%;
            transition: width 1s ease-in-out;
            background-color: #1ca59e;
            bottom: -10px;
        }
        .panelWarp {
            opacity: 1.0;  
        }
        .trans {
            transition: width 1s ease-in-out;
        }
        .btnDetial {
            margin-left: 165px;
            min-width: 100px;
        }
        .infoList {
            margin-top: 40px;
            list-style: none;
            font-family: 'Comfortaa';
            .number {
                color:#1fb5ad;
                font-size: 20px;
                min-width: 200px;
                padding-right: 15px;
                font-family: 'Comfortaa';
                font-weight: 700;

            }

        }
        &.disabled {
            .panelwarp {
                transition: opacity 1s ease-in-out;
                opacity: 0.2;  
            }
            .arrowBlock {
                opacity: 0;
                .arrowMark {
                    border-color: transparent transparent #d6d6d6 transparent;                   
                }
            }
            .btnDetial {
                background: #222!important;
                box-shadow: #222!important;
            }  
        }
        &.ok {
            .arrowBlock {
                .arrowMark {
                    border-color: transparent transparent $ok transparent;                   
                }
            } 
        }
        &.bad {
            .arrowBlock {
                .arrowMark {
                    border-color: transparent transparent $bad transparent;                   
                }
            } 
        }
        &.safe {
            .arrowBlock {
                .arrowMark {
                    border-color: transparent transparent $safe transparent;                   
                }
            } 
        }
    }

}

#areaID_hero {
    .coverItem {
        background-size: cover;
        background-position: 0 0;
        color: #aaa;
        h2 .logo{
            height: 70px;
            font-size: 5em;
            text-indent: 100%;
            white-space: nowrap;
            background: url(../images/logo_gray.png) no-repeat 0px 0;
            background-size: 250px auto;

        }
        .coverWarp {
            width: 940px;
            margin: 0 auto;
        }
        .btnReg {
            width: 60%;
            padding:15px 0; 
        }
    }
}

#areaID_widgetWindow {
    position: absolute;
    right: 0px;
    top:0px;
    .mask {
        display: none;
        z-index: 998;
        background: rgba(255,255,255,0.6);

    }
    .winWarp {
        width: 0px;
        height: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: -3px 0 0 0 rgba(0,0,0,0.2);
        z-index: 999;
        position: absolute;
        right:0;
        top:0;

    }
    #pluginWidget {
    }
}


